.attendees_userblock {
    display: inline-block;
    text-align: center;
    width: 175px;
    border: 1px solid silver;
    margin: 10px;
    vertical-align: top;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

.attendees_userblock .userinitials,
.attendees_userblock .userpicture {
    border-radius: 0;
    background-color: #d1d1d14a;
}

.attendees_userblock .userinitials.size-100,
.attendees_userblock .userpicture {
    width: 173px;
    height: 173px;
    font-size: 6rem;
    margin: 0;
}

.attendees_roster_tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.attendees_roster_tabs li {
    display: inline;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
}

.attendees_tabs {
    padding-top: 5px;
}

a.attendees_otherinout_button {
    display: block;
    height: 30px;
    text-align: left;
    background: rgba(211, 211, 211, 0.5);
    color: white;
}
.attendees_userblock a.d-inline-block:active,
.attendees_userblock a.d-inline-block:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.attendees_userblock a.d-inline-block {
    position: relative;
    display: block;
    outline: none;
}

.attendees_status_in a.attendees_otherinout_button {
    color: #c47d7d;
}

.attendees_status_in a.attendees_otherinout_button:hover {
    color: #9e3535;
}

.attendees_status_out a.attendees_otherinout_button {
    color: white;
}

.attendees_status_out a.attendees_otherinout_button:hover {
    color: rgb(71, 182, 233);
}

.attendees_otherinout_button .icon {
    font-size: 20px;
    padding: 5px;
    text-shadow: 1px 1px 2px #000;
}

.attendees_signinout_button,
.attendees_signinout_button .icon {
    font-size: 50px;
    padding: 30px;
}

.attendees_signinout_button .fa-sign-out.icon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    padding: 30px 0;
}

.attendees_signinout_button:hover,
.attendees_signinout_button .icon:hover {
    text-decoration: none;
}

.attendees_status_in .fa-sign-in {
    display: none;
}

.attendees_status_out .fa-sign-out {
    display: none;
}

.attendees_status_in .attendees_name {
    background-color: rgb(219, 255, 121);
}

.attendees_status_in .icon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin: 0 5px;
}

.attendees_name {
    font-weight: bold;
    background-color: #d1d1d14a;
}

.attendees_kioskmode #page-header {
    display: none;
}

.attendees_kioskmode .logo {
    display: none;
}

.attendees_kioskmode {
    padding: 50px;
}

.attendees_refreshable {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.attendees_groups {
    font-size: .8em;
    color: grey;
    text-align: center;
}

.attendees_group {
    display: inline-block;
    margin-bottom: 2px;
    padding: 2px 4px;
}

#attendees_keepalive {
    display: none;
}

.attendees_kioskmode #page-wrapper {
    height: auto;
}

.attendees_kioskmode #page {
    margin-top: 0;
}

.form-control.attendees_search {
    display: inline-block;
    width: 200px;
}
