.attendees_userblock {
    display: inline-block;
    text-align: center;
    width: 175px;
    border: 1px solid silver;
    margin: 10px;
    vertical-align: top;
}

.attendees_userblock .userinitials,
.attendees_userblock .userpicture {
    border-radius: 0;
    background-color: #d1d1d14a;
}

.attendees_userblock .userinitials.size-100,
.attendees_userblock .userpicture {
    width: 173px;
    height: 173px;
    font-size: 6rem;
}

.attendees_roster_tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.attendees_roster_tabs li {
    display: inline;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
}

.attendees_tabs {
    padding-top: 5px;
}

a.attendees_otherinout_button {
    position: absolute;
    color: white;
}

a.attendees_otherinout_button:hover {
    color: rgb(158, 210, 240);
}

.attendees_otherinout_button .icon {
    font-size: 30px;
    padding: 5px;
    text-shadow: 1px 1px 2px #000000;
}

.attendees_signinout_button,
.attendees_signinout_button .icon {
    font-size: 50px;
    padding: 30px;
}

.attendees_signinout_button:hover,
.attendees_signinout_button .icon:hover {
    text-decoration: none;
}

.attendees_status_in .fa-sign-in {
    display: none;
}

.attendees_status_out .fa-sign-out {
    display: none;
}

.attendees_status_in .attendees_name {
    background-color: rgb(219, 255, 121);
}

.attendees_name {
    font-weight: bold;
    background-color: #d1d1d14a;
}

.attendees_kioskmode #page-header {
    display: none;
}

.attendees_kioskmode .logo {
    display: none;
}

.attendees_kioskmode {
    padding: 50px;
}

body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.attendees_groups {
    font-size: .8em;
    color: grey;
    text-align: left;
}

.attendees_group {
    display: inline-block;
    margin-bottom: 2px;
    min-width: 50%;
    padding: 2px 4px;
}

#attendees_keepalive {
    display: none;
}

.attendees_kioskmode #page-wrapper {
    height: auto;
}

.attendees_kioskmode #page {
    margin-top: 0px;
}

.form-control.attendees_search {
    display: inline-block;
    width: 200px;
}
